@charset "UTF-8";

body{
    background-color: rgb(65, 65, 145);
}
#tamanho{
    width: 20%;
}
footer{
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}